body {
    background-color: white;
    font-family: "Inter", sans-serif;
}

p {
    text-align: justify;
}

/*Botones*/

.btn.btn-primary {
    padding: 10px 20px;
    background-color: #c7a17a;
    border: none;
    color: #181818;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0;
    outline: none;
}

.btn.btn-primary:hover {
    background-color: #302e2e;
}

/*img*/

.container-fluid {
    padding: 0;
}


/*HEADER*/


header {
    background-color: #181818;
    padding: 10px 0;
    margin: 0;
    z-index: 9999;
}

/* Estilos para el logo */
.logo img {
    max-width: 150px;
    height: auto;
}


/* Estilos para el menú*/
.navbar-nav {
    justify-content: center;
    margin: 0 auto;

}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 0.8rem;
    padding: 0 15px;
}

.navbar-nav .nav-link:hover {
    color: #d3ad7f;
}


/* Estilos para el botón del menú hamburguesa */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Ocultar el enlace "Inicio" en pantallas grandes */
.nav-inicio {
    display: none;
}



/*INDEX*/

/* Primer carrusel */

#carouselExampleIndicators .carousel-item img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

#carouselExampleIndicators .carousel-caption {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
    padding-left: 10%;
    width: 40%;
}

#carouselExampleIndicators .carousel-caption h5,
.carousel-caption p {
    color: white;
}

#carouselExampleIndicators .btn-transparent {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 0;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#carouselExampleIndicators .btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}


/*Produtos carrusel*/
#productCarousel .carousel-inner {
    display: flex;
}

#productCarousel .carousel-item {
    padding: 15px;
}

#productCarousel .card {
    overflow: hidden;
    display: flex;
}

#productCarousel .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


#productCarousel h5 {
    font-size: 1.2em;
    color: #d3ad7f;
    text-align: center;
}

#productCarousel p {
    text-align: center;
    font-size: 0.8rem;
}


#productCarousel .card-body {
    position: relative;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

#productCarousel .carousel-control-prev,
#productCarousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#productCarousel .carousel-control-prev {
    left: -55px;
}

#productCarousel .carousel-control-next {
    right: -55px;
}


/*img hover*/
.img-hover .position-relative:hover img {
    transform: scale(1.05);
}

.img-hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    overflow: hidden;
}

.img-hover .position-relative:hover .overlay {
    opacity: 1;
}

/*Nuestro té*/

.seccion-te h4 {
    font-size: 1.5rem;
    color: #d3ad7f;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.seccion-te h5 {
    font-size: 1.2rem;
    color: #d3ad7f;
    text-align: center;
}

.seccion-te .text-left h4 {
    text-align: right;
}

.seccion-te .text-right h4 {
    text-align: left;
}

.seccion-te .text-left p {
    text-align: right;
}

.seccion-te .text-right p {
    text-align: left;
}

.seccion-te p {
    font-size: 0.9rem;
    color: #555555;
    line-height: 1.6;
    margin-bottom: 20px;
}


/* Sección con imagen de fondo */
.bg-image-section {
    background-image: url("../img/interiorByN.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Fondo semitransparente para mejorar la legibilidad del texto */
.bg-image-section .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 80%;
}


/* TIENDA */

.tienda .position-relative {
    position: relative;
    overflow: hidden;
}


.tienda img {
    width: 100%;
    height: auto;
}

.tienda .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.tienda .position-relative:hover .overlay {
    opacity: 1;
}

.tienda .text {
    font-size: 1em;
    line-height: 1.4;
    overflow: hidden;
    max-height: 100%;
}


/*MENÚ-TIENDA*/

.bg-image-section-menu {
    background-image: url("../img/Galeria1/4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 12px;
    padding-left: 100px;

}

.bg-image-section-menu h2,
.bg-image-section-menu p {
    color: white;
    text-align: left;

}

.bg-image-section-menu h2 {
    font-size: 2em;
}


.bg-image-section-menu p {
    font-size: 2em;
}

/* Estilo para aumentar tamaño de las imágenes al pasar el mouse */
.menu-tienda .hover-image {
    transition: transform 0.3s ease;
}

.menu-tienda .hover-image:hover {
    transform: scale(1.1);

}


.menu-tienda .image-container {
    overflow: hidden;
    position: relative;
}

.menu-tienda .overlay-new {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu-tienda .overlay-new h5 {
    font-size: 2.5rem;

}

.menu-tienda .carousel-caption {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
    padding-left: 10%;
    width: 90%;

}

.menu-tienda .overlay-new p {
    font-size: 1.2rem;

}

.menu-tienda .overlay-new .btn {
    margin-top: 20px;

}

/*LOCALES*/
.map-container {
    width: 100%;
    height: 400px;
}

.map-iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/*CONTACTO*/

.contact__wrapper h5 {
    font-size: 1.5rem;
    color: #d3ad7f;
    text-align: center;
}

.contact__wrapper h3 {
    font-size: 1.5rem;
    text-align: center;
}

.list-style--none {
    list-style: none;
}

.contact-info__list a {
    color: inherit;
    text-decoration: none;
}

.contact-info__list span.position-absolute {
    left: 0
}


/*FOOTER*/

.footer-container {
    background-color: #181818;
    color: #fff;
    padding: 40px 0;
}

.footer-logo {
    max-width: 250px;
    margin-bottom: 20px;
}

.main-footer h5 {
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: #d3ad7f;
}

.main-footer ul {
    list-style: none;
    padding: 0;
}

.main-footer ul li {
    margin-bottom: 10px;
    font-size: 0.8em;
}

.main-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

/* Estilos para el campo de email */
.newsletter-form input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #302e2e;
    background-color: transparent;
    color: #ccc;
    outline: none;
    border-radius: 0;
    font-size: 0.8em;
}

/* Estilos para cuando el campo está enfocado */
.newsletter-form input[type="email"]:focus {
    outline: none;
    box-shadow: none;
}

.newsletter-form input[type="email"]::placeholder {
    color: white;
    opacity: 0.7;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

.copyrights-wrapper {
    padding: 20px 0 0 20px;
    font-size: 0.7rem;
}



/*MEDIA QUERIES*/

/*Tablet horizontal entre 768px a 1080px */
@media (max-width: 1080px) {

    /*Menú*/
    .navbar-nav .nav-link {
        font-size: 0.55rem;


    }

    /* Estilos para el logo */
    .logo img {
        max-width: 100px;
        height: auto;
    }

    /*Botón primary*/

    .btn.btn-primary {
        font-size: 0.8em;
    }

    /*Primer carrusel*/
    #carouselExampleIndicators .carousel-caption h5 {
        font-size: 1.4rem;
    }

    #carouselExampleIndicators .carousel-caption p {
        font-size: 0.9rem;
    }

    /*Productos carrusel*/
    #productCarousel .carousel-control-prev,
    #productCarousel .carousel-control-next {
        width: 30px;
        height: 30px;
    }

    #productCarousel .carousel-control-prev-icon,
    #productCarousel .carousel-control-next-icon {
        background-size: 30px;
    }

    #productCarousel .carousel-control-prev {
        left: -30px;
    }

    #productCarousel .carousel-control-next {
        right: -30px;
    }

    #productCarousel h5 {
        font-size: 0.9em;
    }

    /*tienda*/
    .tienda .text {
        font-size: 0.8em;

    }


    .bg-image-section-menu .overlay p {
        font-size: 2em;
    }


    /*footer*/

    .main-footer h5 {
        font-size: 0.8rem;
    }

    .main-footer ul li {
        font-size: 0.8em;
    }


    .newsletter-form input[type="email"] {
        font-size: 0.7em;
    }

    .copyrights-wrapper {
        padding: 20px 20px 0 20px;
        font-size: 0.6rem;
    }

    .footer-logo {
        max-width: 200px;
    }


    .overlay p {
        font-size: 0.8em;
        padding: 5px;
    }


}

/*Tablet vertical (entre 767px y 480px) */

@media (max-width: 767px) {

    /*Menu*/
    .woodmart-burger-icon {
        display: flex;
        align-items: center;
        border: none;
    }

    .woodmart-burger {
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: white;
        position: relative;
    }

    .woodmart-burger::before,
    .woodmart-burger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        left: 0;
    }

    .woodmart-burger::before {
        top: -10px;
    }

    .woodmart-burger::after {
        bottom: -10px;
    }

    .nav-inicio {
        display: block;
    }

    .navbar-nav .nav-item {
        border-bottom: 1px solid #e5e5e5;
    }

    .navbar-nav .nav-link {
        color: #333;
        padding: 15px 0;
        text-align: left;
        font-size: 0.8em;
    }

    .navbar-nav .nav-link:hover {
        color: #d3ad7f;
    }

    .navbar-collapse {
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        padding: 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .navbar-collapse.show {
        transform: translateX(0);
    }


    /*Primer carrusel*/
    #carouselExampleIndicators .carousel-caption h5 {
        font-size: 1.2rem;
    }

    #carouselExampleIndicators .carousel-caption p {
        font-size: 0.8rem;
    }

    #carouselExampleIndicators .carousel-item img {
        height: 400px;
    }

    /*productos*/

    #productCarousel .card-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #productCarousel .card {
        flex: 0 0 calc(50% - 1rem);
        margin: 0.5rem;
    }


    #productCarousel .carousel-control-prev,
    #productCarousel .carousel-control-next {
        width: 20px;
        height: 20px;
    }

    #productCarousel .carousel-control-prev-icon,
    #productCarousel .carousel-control-next-icon {
        background-size: 20px;
    }

    #productCarousel .carousel-control-prev {
        left: -10px;
    }

    #productCarousel .carousel-control-next {
        right: -10px;
    }

    #productCarousel h5 {
        font-size: 1em;
    }

    #productCarousel p {
        font-size: 0.8em;
    }

    .bg-image-section {
        height: 400px;
    }

    /*tienda*/
    .tienda .text {
        font-size: 0.95em;

    }

    .tienda .position-relative img {
        max-height: 600px;
        object-fit: cover;
        width: 100%;
    }

    /*menu tienda*/
    .bg-image-section-menu {
        height: 400px;
        padding-left: 20px;
    }



    .bg-image-section-menu h2 {
        font-size: 1em;
    }

    .bg-image-section-menu .overlay p {
        font-size: 1em;

    }
}


/*Mobile 1 (entre 480px y 375px)*/
@media (max-width: 480px) {


    /*Productos carrusel*/
    #productCarousel h5 {
        font-size: 0.8em;
    }


    #productCarousel p {
        font-size: 0.6em;
    }

    /*nuestro té*/

    .seccion-te h4 {
        font-size: 1rem;

    }

    .seccion-te p {
        font-size: 0.8rem;

    }

    /*imágenes hover*/

    .overlay h4 {
        font-size: 0.9em;
    }

    .overlay p {
        font-size: 0.8em;
    }

    /*tienda*/


    .tienda .text {
        font-size: 0.9em;

    }

    /*Contacto*/

    .contact__wrapper h5 {
        font-size: 1rem;

    }

    .contact__wrapper h3 {
        font-size: 1rem;
    }

    .contact__wrapper p {
        font-size: 0.9rem;
    }
}

/* Pantallas pequeñas*/
@media (max-width: 375px) {

    /*Menú*/
    .navbar-collapse {
        width: 150px;
    }

    .navbar-nav .nav-link {
        font-size: 0.6em;
    }


    /*imágenes hover*/
    .overlay h4 {
        font-size: 0.8em;
    }

    .overlay p {
        font-size: 0.7em;

    }


    #productCarousel .card-group {
        display: flex;
        justify-content: center;

    }

    #productCarousel .card {
        flex: 0 0 100%;
        margin: 0;
        max-height: 250px;

    }

    #productCarousel .card-img-top {
        height: 100px;
        object-fit: cover;
    }

    #productCarousel h5 {
        font-size: 1em;
    }


    #productCarousel p {
        font-size: 0.9em;
    }


    /*imagen fondo*/
    .bg-image-section h2 {
        font-size: 0.8em;
    }

    /*tienda*/
    .tienda .text {
        font-size: 0.8em;
        max-height: 200px;
        /* Establece la altura máxima del texto */
        overflow-y: auto;
        /* Activa el scroll vertical */
        padding: 3px;
        /* Espaciado interno para el texto */
    }


}